{% extends 'base.html.twig' %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}
    {% block stylesheets %}
        {{ parent() }}
        <link rel="stylesheet" href="{{ asset('build/maximum_communication/profile.css') }}">
    {% endblock %}
{% block sidebar %}
    {{ include('erp/user/component/sidebar.html.twig') }}
{% endblock %}
{% block main_content %}
    <section class="main-content col-xl-9">
        {% for type, messages in app.flashes %}
            {% for message in messages %}
                <div class="alert alert-{{ type }} text-center col-xl-7">
                    {{ message }} <i class="fas fa-exclamation"></i>
                </div>
            {% endfor %}
        {% endfor %}
        <!-- form start -->
        {{ form_start(form) }}
        <div class="row">
            <div class="col-xl-7">
                <div class="form-group">
                    <label for="username"><i class="fas fa-times-circle text-danger"></i>  Mot de passe</label>
                    {{ form_row(form.oldPassword, {attr: {placeholder : 'Votre mot de passe actuel'} }) }}
                    {#                        <input type="text" class="form-control" id="username" name="_username"#}
                    {#                               aria-describedby="usenameHelp" placeholder="Username" required>#}
                    {#                        <small id="usernameHelp" class="form-text text-muted">We'll never share your username with anyone#}
                    {#                            else.#}
                    {#                        </small>#}
                </div>
                <div class="form-group">
                    <label for="email"><i class="fas fa-times-circle text-danger"></i>  Nouveau mot de passe</label>
                    {{ form_row(form.plainPassword.first, {attr: {placeholder : 'Votre nouveau mot de passe'} }) }}
                    {#                        <input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp"#}
                    {#                               placeholder="Email" required>#}
                    {#                        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone#}
                    {#                            else.#}
                    {#                        </small>#}
                </div>
                <div class="form-group">
                    <label for="email"><i class="fas fa-times-circle text-danger"></i>  Confirmer nouveau mot de passe</label>
                    <div class="input-group mb-3">
                        {{ form_widget(form.plainPassword.second, {id: 'password', attr: {placeholder : 'confirmer votre nouveau mot de passe'} }) }}
                        <div class="input-group-prepend">
                            <button class="btn btn-outline-secondary" type="button" id="show-password"
                                    onclick="showPassword()">Montrer
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <button type="submit" class="btn btn-warning">Modifier profil</button> NB: <i class="fas fa-times-circle text-danger"></i> Champ(s) obligatoire(s).
        </div>
        {{ form_end(form) }}
    </section>
{% endblock %}