{% extends 'base.html.twig' %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}
    {% block stylesheets %}
        {{ parent() }}
        <link rel="stylesheet" href="{{ asset('library/select2-4.0.7/dist/css/select2.min.css') }}">
        <link rel="stylesheet" href="{{ asset('build/maximum_communication/users_crud.css') }}">
    {% endblock %}
{% block sidebar %}
    {{ include('erp/component/sidebar.html.twig') }}
{% endblock %}
{% block main_content %}
    <section class="main-content col-xl-9">
        {% for message in app.flashes('warning') %}
            <div class="alert alert-warning text-center col-xl-7">
                {{ message }} <i class="fas fa-exclamation"></i>
            </div>
        {% endfor %}
        <!-- form start -->
        {{ form_start(form) }}
            <div class="row">
                <div class="col-xl-7">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item">Configuration</li>
                            <li class="breadcrumb-item">Utilisateurs</li>
                            <li class="breadcrumb-item active" aria-current="page">Créer</li>
                        </ol>
                    </nav>
                    <div class="form-group">
                        <label for="user_create_username"><i class="fas fa-times-circle text-danger"></i> Nom utilisateur</label>
                        {{ form_row(form.username, {attr: {class: 'form-control', placeholder : 'Nom utilisateur',  'aria-describedby' : 'user_create_username'} }) }}
                    </div>
                    <div class="form-group">
                        <label for="email"><i class="fas fa-times-circle text-danger"></i> Email</label>
                        {{ form_row(form.email, {attr: {class: 'form-control', placeholder : 'Email utilisateur'} }) }}
{#                        <input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp"#}
{#                               placeholder="Email" required>#}
{#                        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone#}
{#                            else.#}
{#                        </small>#}
                    </div>
                    <div class="form-group">
                        <label for="email">Téléphone</label>
                        {{ form_row(form.phone, {attr: {class: 'form-control', placeholder : 'Numéro de téléphone utilisateur'} }) }}
{#                        <input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp"#}
{#                               placeholder="Email" required>#}
{#                        <small id="emailHelp" class="form-text text-muted">We'll never share your phone with anyone#}
{#                            else.#}
{#                        </small>#}
                    </div>
                    <div class="form-group">
                        <label for="email"><i class="fas fa-times-circle text-danger"></i> Rôles</label>
                        {{ form_row(form.roles, {attr: {class: 'form-control select2'} }) }}
{#                        <input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp"#}
{#                               placeholder="Email" required>#}
{#                        <small id="emailHelp" class="form-text text-muted">We'll never share your phone with anyone#}
{#                            else.#}
{#                        </small>#}
                    </div>
                    <div class="form-group">
                        <label for="email"><i class="fas fa-times-circle text-danger"></i> Mot de passe</label>
                        {{ form_row(form.plainPassword.first, {attr: {placeholder : 'Mot de passe utilisateur'} }) }}
                        {#                        <input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp"#}
                        {#                               placeholder="Email" required>#}
                        {#                        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone#}
                        {#                            else.#}
                        {#                        </small>#}
                    </div>
                    <div class="form-group">
                        <label for="email"><i class="fas fa-times-circle text-danger"></i> Confirmer mot de passe</label>
                        <div class="input-group mb-3">
                            {{ form_widget(form.plainPassword.second, {id: 'password', attr: {placeholder : 'confirmer mot de passe utilisateur'} }) }}
                            <div class="input-group-prepend">
                                <button class="btn btn-outline-secondary" type="button" id="show-password"
                                        onclick="showPassword()">Montrer
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4">
                    <h6 class="text-center"><i class="fas fa-info-circle"></i> Description des rôles utilisateurs</h6>
                    <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                        <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="true">Utilisateur</a>
                        <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-selected="false">Gestionnaire Ressources Humaines</a>
                        <a class="nav-link" id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-messages" role="tab" aria-controls="v-pills-messages" aria-selected="false">Gestionnaire Commercial</a>
                        <a class="nav-link" id="v-pills-settings-tab" data-toggle="pill" href="#v-pills-settings" role="tab" aria-controls="v-pills-settings" aria-selected="false">Gestionnaire Logistique</a>
                        <a class="nav-link" id="v-pills-accounting-tab" data-toggle="pill" href="#v-pills-accounting" role="tab" aria-controls="v-pills-accounting" aria-selected="false">Gestionnaire Comptabilité</a>
                    </div>
                    <div class="tab-content" id="v-pills-tabContent">
                        <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">Cillum ad ut irure tempor velit nostrud occaecat ullamco aliqua anim Lorem sint. Veniam sint duis incididunt do esse magna mollit excepteur laborum qui. Id id reprehenderit sit est eu aliqua occ</div>
                        <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">Cillum ad ut irure tempor velit nostrud occaecat ullamco aliqua anim Lorem sint. Veniam sint duis incididunt do esse magna mollit excepteur laborum qui. Id id reprehenderit sit est eu aliqua occaecat quis et velit excepteur laborum mollit dolore eiusmod. Ipsum dolor in occaecat commodo et voluptate minim reprehenderit mollit pariatur.</div>
                        <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab">Cillum ad ut irure tempor velit nostrud occaecat ullamco aliqua anim Lorem sint. Veniam sint duis incididunt do esse magna mollit excepteur laborum qui. Id id reprehenderit sit est eu aliqua occaecat quis et velit excepteur la</div>
                        <div class="tab-pane fade" id="v-pills-settings" role="tabpanel" aria-labelledby="v-pills-settings-tab">Cillum ad ut irure tempor velit nostrud occaecat ullamco aliqua anim Lorem sint. Veniam sint duis incididunt do esse magna mollit excepteur laborum qui. Id id reprehenderit sit est eu aliqua occaecat quis e</div>
                        <div class="tab-pane fade" id="v-pills-accounting" role="tabpanel" aria-labelledby="v-pills-accounting-tab">Cillum ad ut irure tempor velit nostrud occaecat ullamco aliqua anim Lorem sint.</div>
                    </div>
                </div>
            </div>
            <div>
                <button type="submit" class="btn btn-success">Céer Utilisateur</button> NB: <i class="fas fa-times-circle text-danger"></i> Champ(s) obligatoire(s).
            </div>
        {{ form_end(form) }}
    </section>
{% endblock %}
{% block javascripts %}
    <!-- Select 2 -->
    <script src="{{ asset('library/select2-4.0.7/dist/js/select2.min.js') }}"></script>
     <script type="text/javascript">
        if (window.FileReader) {

            let reader = new FileReader(), rFilter = /^(image\/jpeg)$/i;

            reader.onload = function (oFREvent) {
                let preview = document.getElementById("uploadPreview");
                preview.src = oFREvent.target.result;
            };

            function previewUserAvatar() {

                if (document.getElementById("user_change_profile_avatarFile").files.length === 0) {
                    return;
                }
                let file = document.getElementById("user_change_profile_avatarFile").files[0];
                if (!rFilter.test(file.type)) {
                    alert("Veuillez choisir une image au format jpeg!");
                    return null;
                }
                reader.readAsDataURL(file);
            }

        } else {
            alert("FileReader object not found :( \nTry using Chrome, Firefox or WebKit");
        }

        $(".select2").select2({
            multiple: true,
        });

     </script>
{% endblock %}
