{% extends 'base.html.twig' %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}
    {% block stylesheets %}
        {{ parent() }}
        <link rel="stylesheet" href="{{ asset('build/maximum_communication/profile.css') }}">
    {% endblock %}
{% block sidebar %}
    {{ include('erp/user/component/sidebar.html.twig') }}
{% endblock %}
{% block main_content %}
    <section class="main-content col-xl-9">
        {% for type, messages in app.flashes %}
        {% for message in messages %}
            <div class="alert alert-{{ type }} text-center col-xl-7">
                {{ message }} <i class="fas fa-exclamation"></i>
            </div>
        {% endfor %}
        {% endfor %}
        <!-- form start -->
        {{ form_start(form) }}
            <div class="row">
                <div class="col-xl-7">
                    <div class="form-group">
                        <label for="username">Mot de passe</label>
                        {{ form_row(form.oldPassword, {attr: {class: 'form-control', placeholder : 'Votre mot de passe actuel'} }) }}
{#                        <input type="text" class="form-control" id="username" name="_username"#}
{#                               aria-describedby="usenameHelp" placeholder="Username" required>#}
                        <small id="usernameHelp" class="form-text text-muted">We'll never share your username with anyone
                            else.
                        </small>
                    </div>
                    <div class="form-group">
                        <label for="email">Nouveau mot de passe</label>
                        {{ form_row(form.plainPassword.first, {attr: {class: 'form-control', placeholder : 'Votre nouveau mot de passe'} }) }}
{#                        <input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp"#}
{#                               placeholder="Email" required>#}
                        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone
                            else.
                        </small>
                    </div>
                    <div class="form-group">
                        <label for="email">Confirmer nouveau mot de passe</label>
                        {{ form_row(form.plainPassword.second, {attr: {class: 'form-control', placeholder : 'confirmer votre nouveau mot de passe'} }) }}
{#                        <input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp"#}
{#                               placeholder="Email" required>#}
                        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone
                            else.
                        </small>
                    </div>
                </div>
            </div>
            <div>
                <button type="submit" class="btn btn-warning">Modifier profil</button>
            </div>
        {{ form_end(form) }}
    </section>
    <script type="text/javascript">
        if (window.FileReader) {

            let reader = new FileReader(), rFilter = /^(image\/jpeg)$/i;

            reader.onload = function (oFREvent) {
                let preview = document.getElementById("uploadPreview");
                preview.src = oFREvent.target.result;
            };

            function previewUserAvatar() {

                if (document.getElementById("user_change_profile_avatarFile").files.length === 0) {
                    return;
                }
                let file = document.getElementById("user_change_profile_avatarFile").files[0];
                if (!rFilter.test(file.type)) {
                    alert("Veuillez choisir une image au format jpeg!");
                    return null;
                }
                reader.readAsDataURL(file);
            }

        } else {
            alert("FileReader object not found :( \nTry using Chrome, Firefox or WebKit");
        }
    </script>
{% endblock %}